body{
    background-image: url('./İMG/background_image.jpg');
    color: white;
    text-align: center; 
}
#bigdiv{
    background-color: rgba(0,0,0,.75);
    border-radius: 1rem;
}
#flixspan{
    color: red;
}
